<div class="register-box">
 <div class="login-logo">
    <!--<a [routerLink]="['/register']"><b>Admin</b>LTE</a>-->
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Choose Password</p>

    <form action="../../index.html" method="post">
      
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]='profile.User.Password' [ngModelOptions]="{standalone: true}"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat" (click)='choosePassword($event)'>Add Password</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->