


<!-- /.row -->

<div class="row">
      
  <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
    <p class="text-center">
      <strong>Paid Board</strong>
    </p>

    <div class="row">
      <app-challengetile [IsFree]=false></app-challengetile>
        
      </div>
    
  </div> 
  
  <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
      <p class="text-center">
        <strong>Free Board</strong>
      </p>
      <div class="row">
        <app-challengetile [IsFree]=true></app-challengetile>
      </div>

  </div>

</div>

<!-- /.row -->

