
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <app-Box  [boxControls]='boxControls'>

      <div class="body"><div class="row">
          
          <div class="col-md-12">
              <p class="text-center">
                <strong>My Betted Free Games</strong>
              </p>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: gainsboro;padding:20px;box-sizing: border-box;" *ngFor="let game of getParticipentedGames(true);">
                    <div  class="col-md-8 col-lg-8 col-sm-6 col-xs-12"  style="background-color:white;box-shadow: 7px 7px 5px -5px grey;padding:10px;margin-bottom:10px;"  (click)="_Globals.getAppGameByGameId(game._id,true)">
                    <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td class="col-md-4">RemainPositions</td>
                            <td class="col-md-4">{{game.RemainPositions}}</td>
                          </tr>
                          <tr>
                            <td class="col-md-4">StartOn</td>
                            <td class="col-md-4">{{game.StartOn}}</td>
                          </tr>
                          <tr>
                            <td class="col-md-4">EndAt</td>
                            <td class="col-md-4">{{game.EndAt}}</td>
                          </tr>
                          <tr>
                            <td class="col-md-4">TotalPositions</td>
                            <td class="col-md-4">{{game.TotalPositions}}</td>
                          </tr>
                        </tbody>
                    </table>
                    <ul *ngIf="_Globals.getAppGameByGameId(game._id,true)!=undefined" >
                      <li *ngFor="let position of _Globals.getAppGameByGameId(game._id,true).Positions" (click)="_Globals.betOnGamePosition(true,game._id,position._id)">{{position.Title}}</li>
                    </ul>
                    <circle-progress
                      [percent]="getTime(game.StartOn,game.EndAt)"
                      [radius]= "60"
                      [space]= "-10"
                      [outerStrokeWidth]= "10"
                      [outerStrokeColor]= "'#4882c2'"
                      [outerStrokeLinecap]= "butt"
                      [innerStrokeColor]= "'#e7e8ea'"
                      [innerStrokeWidth]= "10"
                      [title]= "UI"
                      [subtitle]= "UI"
                      [animateTitle]= "false"
                      [animationDuration]= "0"
                      [showUnits]= "false"
                      [showBackground]= "false"
                      [clockwise]= "false"
                    ></circle-progress>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" style="background-color: #f4f4f4;" >
                    <div style="max-height: 265px;min-height: 265px;overflow: auto;">
                      <ul class="contacts-list" style="background-color:#3c8dbc" *ngIf="game.GameGroup!=undefined;" >
                        <li   *ngFor="let message of game.GameGroup.Messages">
                            <a>
                                <img alt="User Image" class="contacts-list-img" [src]="group" onError="this.src='./Content/Images/profile.png';" >
                    
                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        {{message.message}}
                                        <small class="contacts-list-date pull-right">Time</small>
                                    </span>
                                <span class="contacts-list-msg">Text</span>
                                </div>
                                
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <form action="#" method="post">
                        <div class="input-group">
                          <input (keyup.enter)='sendMessageToGameGroup(gameMessage.value,game._id,true);gameMessage.value="";' type="text" name="message" placeholder="Type Message ..." class="form-control"  #gameMessage >
                            <span class="input-group-btn">
                            <button  (click)='sendMessageToGameGroup(gameMessage.value,game._id,true);gameMessage.value="";' type="button" class="btn btn-info btn-flat">Send</button>
                            </span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="col-md-12">
                <p class="text-center">
                  <strong>My Betted Paid Games</strong>
                </p>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: gainsboro;padding:20px;box-sizing: border-box;" *ngFor="let game of getParticipentedGames(false);">
                      <div  class="col-md-8 col-lg-8 col-sm-6 col-xs-12" style="background-color:white;box-shadow: 7px 7px 5px -5px grey;padding:10px;margin-bottom:10px;"  (click)="_Globals.getAppGameByGameId(game._id,false)" >
                      <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td class="col-md-4">RemainPositions</td>
                              <td class="col-md-4">{{game.RemainPositions}}</td>
                            </tr>
                            <tr>
                              <td class="col-md-4">StartOn</td>
                              <td class="col-md-4">{{game.StartOn}}</td>
                            </tr>
                            <tr>
                              <td class="col-md-4">EndAt</td>
                              <td class="col-md-4">{{game.EndAt}}</td>
                            </tr>
                            <tr>
                              <td class="col-md-4">TotalPositions</td>
                              <td class="col-md-4">{{game.TotalPositions}}</td>
                            </tr>
                          </tbody>
                      </table>

                      <ul *ngIf="_Globals.getAppGameByGameId(game._id,false)!=undefined" >
                        <li *ngFor="let position of _Globals.getAppGameByGameId(game._id,false).Positions"  (click)="_Globals.betOnGamePosition(false,game._id,position._id)">{{position.Title}}</li>
                      </ul>
                    </div>
                    
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" style="background-color: #f4f4f4;" >
                    <div style="max-height: 265px;min-height: 265px;overflow: auto;">
                      <ul class="contacts-list" style="background-color:#3c8dbc" *ngIf="game.GameGroup!=undefined;" >
                        <li   *ngFor="let message of game.GameGroup.Messages">
                            <a>
                                <img alt="User Image" class="contacts-list-img" [src]="group" onError="this.src='./Content/Images/profile.png';" >
                    
                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        {{message.message}}
                                        <small class="contacts-list-date pull-right">Time</small>
                                    </span>
                                <span class="contacts-list-msg">Text</span>
                                </div>
                                
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <form action="#" method="post">
                        <div class="input-group">
                          <input (keyup.enter)='sendMessageToGameGroup(gameMessage.value,game._id,false);gameMessage.value="";' type="text" name="message" placeholder="Type Message ..." class="form-control"  #gameMessage >
                            <span class="input-group-btn">
                            <button  (click)='sendMessageToGameGroup(gameMessage.value,game._id,false);gameMessage.value="";' type="button" class="btn btn-info btn-flat">Send</button>
                            </span>
                        </div>
                      </form>
                    </div>
                  </div>
                  </div>
                </div>

              </div>
        </div>
      </div>
      <div class="footer">
      </div>
    </app-Box>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<!-- /.row -->


<!-- /.row -->

<div class="row">
    <div class="col-md-12">
      <app-Box  [boxControls]='boxControls'>

        <div class="body"><div class="row">
            
            <div class="col-md-12">
                <p class="text-center">
                  <strong>Free Games</strong>
                </p>
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="background-color: gainsboro;padding:20px;box-sizing: border-box;" *ngFor="let game of getNonParticipentGames(true);">
                      <div style="background-color:white;box-shadow: 7px 7px 5px -5px grey;padding:10px;margin-bottom:10px;"  >
                      <table class="table table-striped" (click)="betOnGame(true,game._id)">
                          <tbody>
                            <tr>
                              <td class="col-md-4">RemainPositions</td>
                              <td class="col-md-4">{{game.RemainPositions}}</td>
                            </tr>
                            <tr>
                              <td class="col-md-4">StartOn</td>
                              <td class="col-md-4">{{game.StartOn}}</td>
                            </tr>
                            <tr>
                              <td class="col-md-4">EndAt</td>
                              <td class="col-md-4">{{game.EndAt}}</td>
                            </tr>
                            <tr>
                              <td class="col-md-4">TotalPositions</td>
                              <td class="col-md-4">{{game.TotalPositions}}</td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>


              <div class="col-md-12">
                  <p class="text-center">
                    <strong>Paid Games</strong>
                  </p>
                  <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="background-color: gainsboro;padding:20px;box-sizing: border-box;" *ngFor="let game of getNonParticipentGames(false);">
                        <div style="background-color:white;box-shadow: 7px 7px 5px -5px grey;padding:10px;margin-bottom:10px;"  >
                        <table class="table table-striped" (click)="betOnGame(false,game._id)">
                            <tbody>
                              <tr>
                                <td class="col-md-4">RemainPositions</td>
                                <td class="col-md-4">{{game.RemainPositions}}</td>
                              </tr>
                              <tr>
                                <td class="col-md-4">StartOn</td>
                                <td class="col-md-4">{{game.StartOn}}</td>
                              </tr>
                              <tr>
                                <td class="col-md-4">EndAt</td>
                                <td class="col-md-4">{{game.EndAt}}</td>
                              </tr>
                              <tr>
                                <td class="col-md-4">TotalPositions</td>
                                <td class="col-md-4">{{game.TotalPositions}}</td>
                              </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
  
                </div>
          </div>
        </div>
        <div class="footer">
        </div>
      </app-Box>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>

<!-- /.row -->






<!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <app-Box  [boxControls]='boxControls'>

        <div class="body"><div class="row">
            
            <div class="col-md-12">
                <p class="text-center">
                  <strong>Free Board</strong>
                </p>
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: gainsboro;padding:20px;box-sizing: border-box;" *ngFor="let appGame of getFreeGames();">
                      <p>{{appGame.Name}}</p>
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let challange of appGame.FreeGameChallenges;" (click)="createGame(appGame.IsFree,challange._id)"><div style="background-color:white;box-shadow: 7px 7px 5px -5px grey;padding:10px;margin-bottom:10px;"  >
                          <table class="table table-striped">
                              <tbody>
                                <tr>
                                  <td class="col-md-4">Title</td>
                                  <td class="col-md-4">{{challange.Title}}</td>
                                </tr>
                                <tr>
                                  <td class="col-md-4">BettablePositions</td>
                                  <td class="col-md-4">{{challange.BettablePositions}}</td>
                                </tr>
                                <tr>
                                  <td class="col-md-4">ComissionPercent</td>
                                  <td class="col-md-4">{{challange.ComissionPercent}}</td>
                                </tr>
                                <tr>
                                  <td class="col-md-4">GameTime</td>
                                  <td class="col-md-4">{{challange.GameTime}}</td>
                                </tr>
                                <tr>
                                  <td class="col-md-4">BoardPrice</td>
                                  <td class="col-md-4">{{challange.BoardPrice}}</td>
                                </tr>
                                <tr>
                                  <td class="col-md-4">NoOfPositions</td>
                                  <td class="col-md-4">{{challange.NoOfPositions}}</td>
                                </tr>
                                <tr>
                                  <td class="col-md-4">CoinsPerEachPosition</td>
                                  <td class="col-md-4">{{challange.CoinsPerEachPosition}}</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                      </div>
                  </div>
                </div>

              </div>


              <div class="col-md-12">
                  <p class="text-center">
                    <strong>Paid Board</strong>
                  </p>

                  <div class="row">
                      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: gainsboro;padding:20px;box-sizing: border-box;" *ngFor="let appGame of getPaidGames();">
                        <p>{{appGame.Name}}</p>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let challange of appGame.Challenges;" (click)="createGame(appGame.IsFree,challange._id)"><div style="background-color:white;box-shadow: 7px 7px 5px -5px grey;padding:10px;margin-bottom:10px;"  >
                          <table class="table table-striped">
                              <tbody>
                                  <tr>
                                      <td class="col-md-4">Title</td>
                                      <td class="col-md-4">{{challange.Title}}</td>
                                    </tr>
                                    <tr>
                                      <td class="col-md-4">BettablePositions</td>
                                      <td class="col-md-4">{{challange.BettablePositions}}</td>
                                    </tr>
                                    <tr>
                                      <td class="col-md-4">ComissionPercent</td>
                                      <td class="col-md-4">{{challange.ComissionPercent}}</td>
                                    </tr>
                                    <tr>
                                      <td class="col-md-4">GameTime</td>
                                      <td class="col-md-4">{{challange.GameTime}}</td>
                                    </tr>
                                    <tr>
                                      <td class="col-md-4">BoardPrice</td>
                                      <td class="col-md-4">{{challange.BoardPrice}}</td>
                                    </tr>
                                    <tr>
                                      <td class="col-md-4">NoOfPositions</td>
                                      <td class="col-md-4">{{challange.NoOfPositions}}</td>
                                    </tr>
                                    <tr>
                                      <td class="col-md-4">CoinsPerEachPosition</td>
                                      <td class="col-md-4">{{challange.CoinsPerEachPosition}}</td>
                                    </tr>
                              </tbody>
                            </table>
                        </div>
                        </div>
                      </div>
                    </div>
                  
                </div>
          </div>
        </div>
        <div class="footer">
          
        </div>
      </app-Box>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>

<!-- /.row -->



