<header class="main-header">

    <!-- Logo -->
    <a class="logo hidden-xs">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini pull-right">
		<img src="Content/Images/favicon.ico" class="img-circle" style="width: 50px;" alt="User Image">
	  </span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="Content/Images/favicon.ico" class="img-circle pull-left" style="width: 40px;padding-top: 5px;" alt="User Image"><b>Web</b>Applicaion</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button" (click)="toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
      </a>
	    <span class="logo-lg"><img src="Content/Images/favicon.ico" class="img-circle hidden-sm hidden-md hidden-lg " style="width: 40px;padding-top: 5px;" alt="User Image"></span>
      <!-- Navbar Right Menu -->
      <PopOverMenu (viewProfile)="viewProfiles($event)" [propOverDropdowns]='proverItems' ></PopOverMenu>

    </nav>
  </header>